<div id="wrapper" class="">
    <div id="header">
        <div class="top-bar clearfix" id="test">
            <strong class="logo"><a href="#">Freepik</a></strong>

            <!-- // tabs-block -->
            <div class="tabs-block">
                <%= render 'layouts/tabs-block' %>
            </div>

            <form class="search-form" method="GET" action="#" name="searchForm" id="searchForm">
                <div class="content">
                    <input type="hidden" id="goto" name="goto" value="2">
                    <input type="hidden" size="30" id="searchform" value="1" name="searchform">
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="searchinput" name="k" type="text" autocomplete="off" value="" gtbfieldid="1" class="ui-autocomplete-input">

                    <!-- search filtering -->
                    <input type="hidden" name="type" value="">
                    <input type="hidden" name="is_selection" value="">
                    <input type="hidden" name="is_premium" value="">
                    <input type="hidden" name="color" value="">
                    <input type="hidden" name="order" value="">
                </div>
                <button><span>Search</span></button>
            </form>


            <!-- User Login -->
            <ul id="gr_user_menu" class="user-menu">
                <li class="link-trabaja"><a href="#" class="freepikicon-upload" title="We're Hiring" onclick="ga('send', 'event', 'earn-money-freepik', 'click', '');">We're Hiring</a>
                </li>

                <li class="link-login gr_not-connected"><a href="https://profile.freepik.com/login?lang=en" id="gr_user_menu_login_button"><span>Log in</span></a>
                </li>
                <li class="link-register gr_not-connected"><a class="btn" href="https://profile.freepik.com/register?lang=en" id="gr_user_menu_register_button">Register</a>
                </li>


                <li class="user-dropdown gr_connected">
                    <span class="username"></span>
                    <span class="user-avat clearfix">
                        <a href="javascript:;" id="gr_user_menu_avatar">
                            <img alt="" class="br3" width="22" height="22" src="">
                            <span class="icodrop"></span>
                        </a>

                        <div class="space">
                            <ul class="br3">
                                <li><a href="#">My Account<span class="ico-user st"></span></a></li>
                                <li><a href="#">My Favorites<span class="ico-user mf"></span></a></li>
                                <li><a href="#">My Downloads<span class="ico-user md"></span></a></li>
                                <li><a href="#">Subscriptions<span class="ico-user su"></span></a></li>
                                <li><a href="#">Contact<span class="ico-user co"></span></a></li>
                                <li><a href="#" target="_blank">Support<span class="ico-user sup"></span></a></li>
                                <li><a href="javascript:;" class="gr_logout_button">Logout<span class="ico-user so"></span></a></li>
                            </ul>
                        </div>
                    </span>
                </li>
            </ul>
            <!-- Fin User Login -->
        </div>
    </div>
</div>