<a href="#" class="todos-btn" title="All Files"><span></span><span></span><span></span></a>
<div class="slide js-slide-hidden" style="display:none" id="tabs_slide">
	<ul class="tabset">
		<li><a href="#tab1" class="active vector">Vectors</a></li>
		<li><a href="#tab2" class="psd">PSD</a></li>
		<li><a href="#tab3" class="icons">Icons</a></li>
		<li><a onclick="window.location.href='#';return false;" class="photo">Photos</a></li>
		<li><a onclick="window.location.href='#';return false;" class="fp-selection small badge text">Selection</a></li>
		<li><a onclick="window.location.href='#';return false;" class="fp-premium small badge text">Premium</a></li>
	</ul>
	<div class="tab-content">
		<div id="tab1" class="tab" style="display: block;"> 
			<div class="tab-col">
				<strong class="title-tab">All Vectors</strong> <a href="
				http://www.freepik.com/popular-vectors" class="popular">Most Popular »</a> 
				<div class="add-nav"> 
					<ul>
						<li><a href="#" class="non">Animals</a></li>
						<li><a href="#" class="non">Background</a></li>
						<li><a href="#" class="non">Banners</a></li>
						<li><a href="#" class="non">Birthday</a></li>
						<li><a href="#" class="non">Business</a></li>
						<li><a href="#" class="non">Buttons</a></li>
						<li><a href="#" class="non">Cartoon</a></li>
						<li><a href="#" class="non">Christmas</a></li>
						<li><a href="#" class="non">Design elements</a></li>
						<li><a href="#" class="non">Easter</a></li>
						<li><a href="#" class="non">Graphics</a></li>
						<li><a href="#" class="non">Halloween</a></li>
						<li><a href="#" class="non">Human</a></li>
						<li><a href="#" class="non">Icons</a></li></ul><ul>
						<li><a href="#" class="non">Illustrations</a></li>
						<li><a href="#" class="non">Logo templates</a></li>
						<li><a href="#" class="non">Map</a></li>
						<li><a href="#" class="non">Music</a></li>
						<li><a href="#" class="non">Nature</a></li>
						<li><a href="#" class="non">Objects</a></li>
						<li><a href="#" class="non">Ornament</a></li>
						<li><a href="#" class="non">Ribbons</a></li>
						<li><a href="#" class="non">Silhouettes</a></li>
						<li><a href="#" class="non">Sports</a></li>
						<li><a href="#" class="non">Summer</a></li>
						<li><a href="#" class="non">Templates</a></li>
						<li><a href="#" class="non">Textures</a></li>
						<li><a href="#" class="non">Transport</a></li></ul><ul>
						<li><a href="#" class="non">Valentine</a></li>
						<li><a href="#" class="non">Water</a></li>
						<li><a href="#" class="non">Web elements</a></li>
						<li><a href="#" class="non">Web templates</a></li>
						<li><a href="#" class="non">Wedding</a></li>
						<li><a href="#" class="non">Signs and symbols</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="tab2" class="tab js-tab-hidden" style="width: 568px;"> 
			<div class="tab-col"> 



				<strong class="title-tab">All PSD</strong> <a href="#" class="popular">Most Popular »</a> 
				<div class="add-nav"> 
					<ul>
						<li><a href="#" class="non">Backgrounds</a></li>
						<li><a href="#" class="non">Buttons</a></li>
						<li><a href="#" class="non">Calendars</a></li>
						<li><a href="#" class="non">Cards</a></li>
						<li><a href="#" class="non">Colours</a></li>
						<li><a href="#" class="non">Effects</a></li>
						<li><a href="#" class="non">Emails</a></li>
						<li><a href="#" class="non">Icons</a></li>
						<li><a href="#" class="non">Illustrations</a></li>
						<li><a href="#" class="non">Logos</a></li>
						<li><a href="#" class="non">Objects</a></li>
						<li><a href="#" class="non">Print templates</a></li>
						<li><a href="#" class="non">Text effects</a></li>
						<li><a href="#" class="non">Textures</a></li></ul><ul>
						<li><a href="#" class="non">Web elements</a></li>
						<li><a href="#" class="non">Web templates</a></li>
						<li><a href="#" class="non">Ui kit</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="tab3" class="tab js-tab-hidden" style="width: 568px;"> 
			<div class="tab-col"> 
				<strong class="title-tab">All Icons</strong> <a href="#" class="popular">Most Popular »</a> 
				<div class="add-nav"> 
					<ul>
						<li><a href="#" class="non">Animals</a></li>
						<li><a href="#" class="non">Arrows</a></li>
						<li><a href="#" class="non">Art</a></li>
						<li><a href="#" class="non">Buildings</a></li>
						<li><a href="#" class="non">Business</a></li>
						<li><a href="#" class="non">Charts</a></li>
						<li><a href="#" class="non">Cinema</a></li>
						<li><a href="#" class="non">Clothes</a></li>
						<li><a href="#" class="non">Commerce</a></li>
						<li><a href="#" class="non">Controls</a></li>
						<li><a href="#" class="non">Education</a></li>
						<li><a href="#" class="non">Fashion</a></li>
						<li><a href="#" class="non">Food</a></li>
						<li><a href="#" class="non">Gestures</a></li>
					</ul>
					<ul>
						<li><a href="#" class="non">Interface</a></li>
						<li><a href="#" class="non">Logo</a></li>
						<li><a href="#" class="non">Medical</a></li>
						<li><a href="#" class="non">Monuments</a></li>
						<li><a href="#" class="non">Multimedia</a></li>
						<li><a href="#" class="non">Music</a></li>
						<li><a href="#" class="non">Nature</a></li>
						<li><a href="#" class="non">Networking</a></li>
						<li><a href="#" class="non">People</a></li>
						<li><a href="#" class="non">Shapes</a></li>
						<li><a href="#" class="non">Signs</a></li>
						<li><a href="#" class="non">Social</a></li>
						<li><a href="#" class="non">Sports</a></li>
						<li><a href="#" class="non">Technology</a></li>
					</ul>
					<ul>
						<li><a href="#" class="non">Tools</a></li>
						<li><a href="#" class="non">Transport</a></li>
						<li><a href="#" class="non">Utensils</a></li>
						<li><a href="#" class="non">Weapon</a></li>
						<li><a href="#" class="non">Weapons</a></li>
						<li><a href="#" class="non">Weather</a></li>
						<li><a href="#" class="non">Web</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>